.wrapper {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1.2fr 1fr;
    grid-template-rows: 15% 25% 25% 25%;
}


/* page sidebar*/
.sidebar {
    font-size: 0.75rem;
    grid-row: span 4;
    background-color: blue;
}

.sidebar img {
    float: left;
    height: 1.5rem;

}

.header {
    grid-column: 2 / span 3;
    background-color: green;
}

.projects {
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 33.33%);
    grid-column: 2 / span 2;
    grid-row: 2 / span 3;
}

.projects div {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5rem;
}

#welcome {
    display: flex;
}

#welcome button {
    display: grid;
}

img {
    height: auto;
    width: 50px;
}

/*search bar at top of screen */
.search-field {
    width: 80%;
    border: none;
    border-radius: 100px;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

/*moon picture*/
svg {
    width: 25px;
}